{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <div class="mb-3">
            <label>Stock to sell:</label>
            <select id="symbol" name="symbol">
                <option disabled selected value>Select one</option>
                {% for row in rows %}
                    <option>{{ row.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares" required type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}